@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Quicksand:wght@300;400;600&display=swap');
@import 'accueil';
@import 'calendar';
@import 'inscription';
@import 'moncompte';
@import 'framework';
* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    // background-image: url("../image/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
  }
  .bold{
    font-weight: 600;
  }
  
  header {
    height: 10%;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 9;
    nav {
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        ul {
            width: 30%;
            margin: 0;
            display: flex;
            justify-content: space-between;
            padding: 0;
            padding-right: 10px;
            li {
                list-style-type: none;
                a {
                    color: white;
                    text-decoration: none;
                    position: relative;
                    
                    &::before{
                      content: "";
                      height: 1px;
                      width: 0%;
                      position: absolute;
                      left: 0;
                      top: 20px;
                      background-color: white;
                      transition: all 0.3s;
                    }
                    &:hover{
                      &::before{
                        width: 100%;
                        transition: all 0.3s;
                      }
                    }
                  }
              }
          }
      }
  }
  h1{
    margin: 0;
    padding: 15px 0;
  }
  